._customer-portfolio-work-card {
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0px 10px #754EF935;
  transition: .2s ease-in-out;

  &:hover {
    transition: .2s ease-in-out;
    box-shadow: 0 0px 20px #754EF9;
    
  }
}

._customer-portfolio-work-card-link {
  text-decoration: none;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

._customer-portfolio-work-card-title {
  font: 500 16px / 24px "Montserrat", sans-serif;
  text-align: center;
}

._customer-portfolio-work-card-preview {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 100%;
    border: 2px solid #754EF9;
    border-radius: 10px;
  }
}

._customer-portfolio-work-card-skills {
  font: 500 16px / 24px "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width:960px) {
  ._customer-portfolio__works {
    gap: 10px;
  }

  ._customer-portfolio-work-card-title,
  ._customer-portfolio-work-card-skills {
    font-size: 12px;
    line-height: 20px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width:640px) {
  ._customer-portfolio__works {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:390px) {
  ._customer-portfolio__works {
    grid-template-columns: 1fr;
  }
}