._customer-burger-menu {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  display: flex;
  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../../img/burger_icon.png) no-repeat center/cover;
  }

  @media screen and (max-width:767px) {
    display: block;
  }
}