._customer-circles {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 520px;
  border-radius: 50%;
  background: #754EF9;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}