._customer-circles {
  position: absolute;
  z-index: 2;
  top: 300px;
  left: 80px;
  width: 520px;
  height: 520px;
  overflow: hidden;
  border-radius: 50%;
  background: #754EF9;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}