._customer-portfolio-page {
  background: -webkit-linear-gradient(90deg, #eeeef0, #e7e8ea, #ecedef);
  background: linear-gradient(90deg, #eeeef0, #e7e8ea, #ecedef);
  min-height: 100vh;

  ._customer-btn {
    position: static;
    transform: none;
    font-style: normal;
  }
}

._customer-btns {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: fit-content;
  padding: 0 10px; 
}