._customer-portfolio-page {
  background: rgba(117, 78, 249, 0.15);
  min-height: 100vh;

  ._customer-btn {
    position: static;
    transform: none;
    font-style: normal;
  }
}

._customer-btns {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  width: fit-content;
  padding: 0 10px; 
}