.title {
  margin-bottom: 30px;

  h1 {
    font: 500 32px/1.2 "Montserrat", sans-serif;
    text-align: center;
  }
}

@media screen and (max-width:978px) {
  .title {
    h1 {
      font-size: 22px;
      line-height: 1.5;
    }
  }
}