._customer-sidebar__contacts {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-self: flex-end;
  width: fit-content;
  margin: 0 auto;

  ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  li {
    list-style: none !important;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 24px;
    height: 24px;
    transition: 0.7s ease-in-out;
    filter: brightness(1) invert(1) drop-shadow(0px 0px 3px #000);

    &:hover {
      filter: invert(1) brightness(0);
      transition: 0.2s ease-in-out;
    }
  }

  p {
    font: 600 16px/24px "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
  }
}