.appBtn {
  border: none;
  outline: none;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 3px;
  font: 600 16px/24px "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in-out;
  background: #754ef9;

  &:hover {
    opacity: .8;
    transition: .2s ease-in-out;
  }
}