._customer-page__container {
  max-width: 1300px;
  padding: 90px 10px 30px;
  margin: 0 auto;
  position: relative;
}

._customer-title {
  font: 500 32px/1.2 "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  font: 500 28px/1.2 "Montserrat", sans-serif;
  margin-bottom: 30px;
}

h3 {
  font: 500 22px/1.2 "Montserrat", sans-serif;
  margin-bottom: 30px;
}

h4 {
  font: 500 18px/1.2 "Montserrat", sans-serif;
  margin-bottom: 30px;
}

a {
  font: italic 500 16px/24px "Montserrat", sans-serif;
  text-underline-offset: 3px;

  &:hover {
    text-decoration: none;
  }
}

._customer-info {
  margin-bottom: 30px;

  p {
    font: 500 16px/24px "Montserrat", sans-serif;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

._customer-list {
  margin-bottom: 30px;

  ul {
    list-style: none !important;
  }

  li {
    font: 500 16px/24px "Montserrat", sans-serif;
    list-style: none !important;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 24px;
      height: 24px;
      background: url(../img/list_marker.png) no-repeat center/cover;
    }
  }
}