@media screen and (max-width: 1550px) {
  ._customer-intro-text h1 {
    font-size: 80px;
    line-height: 1.2;
  }

  ._customer-circles {
    width: 420px;
    height: 420px;
  }
}

@media screen and (max-width: 1200px) {
  ._customer-intro-text h1 {
    font-size: 60px;
    line-height: 1.2;
  }

  ._customer-circles {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width:978px) {
  ._customer-sidebar {
    padding: 20px 10px;
  }

  ._customer-circles {
    display: none;
  }

  ._customer-main-layout {
    display: grid;
    grid-template-columns: minmax(auto, 140px) 1fr;
    min-height: 100vh;
  }

  ._customer-sidebar__logo {
    writing-mode: vertical-rl;

    h1 {
      margin-bottom: 0;
    }
  }

  ._customer-sidebar__contacts ul {
    flex-direction: column;
  }

  ._customer-sidebar__contacts ul a {
    transform: rotate(180deg);
  }

  ._customer-sidebar__contacts {
    flex-direction: column;
    transform: rotate(180deg);
  }

  ._customer-sidebar__contacts p {
    writing-mode: vertical-lr;
  }

  ._customer-sidebar__logo h1::before {
    top: 100%;
    right: 0;
  }

  ._customer-skils__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  ._customer-about-page {
    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
    }

    h2,
    h3,
    h4 {
      text-align: center;
    }
  }

  ._customer-btns {
    gap: 10px;
  }

  ._customer-btn {
    padding: 10px 45px;
  }

  ._customer-resume__file {
    width: fit-content;
    margin: 0 auto 30px auto;
  }
}

@media screen and (max-width:767px) {

  ._customer-about-page__container {
    padding: 40px 10px 30px;
  }

  ._customer-navbar {
    width: 80%;
    right: 0;
    left: auto;
    height: 100%;
    transform: translateX(100%);
    transition: .5s ease-in-out;
  }

  ._customer-navbar.is-active {
    transform: translateX(0%);
    transition: .5s ease-in-out;
  }

  ._customer-navbar nav {
    gap: 40px;
    flex-direction: column;
    height: 100%;
  }

  ._customer-navbar a {
    font-size: 18px;
    height: 52px;
    width: 95%;
  }
}

@media screen and (max-width:650px) {
  ._customer-sidebar__contacts p {
    writing-mode: vertical-rl;
  }

  ._customer-intro-text h1 {
    font-size: 40px;
  }

  ._customer-intro-text p {
    font-size: 18px;
    line-height: 1.2;
  }

  ._customer-main-content ._customer-btn {
    width: 220px;
  }

  ._customer-skils__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 490px) {

  ._customer-main-layout {
    grid-template-columns: minmax(auto, 61px) 1fr;
  }

  ._customer-intro-text h1:first-of-type {
    margin-right: 0;
    margin-bottom: 0;
  }

  ._customer-intro-text {
    display: flex;
    flex-direction: column;
  }

  ._customer-intro-text h1:last-of-type {
    margin-bottom: 20px;
  }

  ._customer-skils__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}