._customer-about-page {
  background: url(../../../img/about_bg.jpg) no-repeat center/cover;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;

  ._customer-navbar {
    margin-bottom: 30px;

    a {
      text-decoration: none;
    }
  }

  h1 {
    font: 700 38px/1.2 "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font: 700 28px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  h3 {
    font: 700 22px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  h4 {
    font: 700 18px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }



  p {
    font: 500 16px/24px "Montserrat", sans-serif;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  a {
    font: italic 500 16px/24px "Montserrat", sans-serif;
    text-underline-offset: 3px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

._customer-list {
  margin-bottom: 30px;

  ul {
    list-style: none !important;
  }

  li {
    font: 500 16px/24px "Montserrat", sans-serif;
    list-style: none !important;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 24px;
      height: 24px;
      background: url(../../../img/list_marker.png) no-repeat center/cover;
    }
  }
}

._customer-about__info {
  margin-bottom: 30px;
}

._customer-about-page__container {
  max-width: 1300px;
  padding: 30px 10px;
  margin: 0 auto;
}

._customer-skils__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

._customer-skill__grid-item {
  cursor: pointer;
  display: flex;
  gap: 10px;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: center;
  align-items: center;
  p {
    font: 500 18px/24px "Montserrat", sans-serif;
  }

  img {
    width: 100px;
    height: 100px;
    transition: .3s ease-in-out;
  }

  &:hover {
    img {
      filter: drop-shadow(0 7px 3px #818181);
      transform: scale(1.05);
      transition: .3s ease-in-out;
    }
  }
}