._customer-reviews-page {
  background: url(../../../img/about_bg.jpg) no-repeat center/cover;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;

  ._customer-navbar {
    margin-bottom: 30px;

    a {
      text-decoration: none;
    }
  }

  h1 {
    font: 700 38px/1.2 "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font: 700 28px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  h3 {
    font: 700 22px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  h4 {
    font: 700 18px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }



  p {
    font: 500 16px/24px "Montserrat", sans-serif;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  a {
    font: italic 500 16px/24px "Montserrat", sans-serif;
    text-underline-offset: 3px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

._customer-reviews-page__container {
  max-width: 1300px;
  padding: 30px 10px;
  margin: 0 auto;
}


