._customer-contacts-page {
  background: -webkit-linear-gradient(90deg, #eeeef0, #e7e8ea, #ecedef);
  background: linear-gradient(90deg, #eeeef0, #e7e8ea, #ecedef);
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;

  h1 {
    font: 700 38px/1.2 "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font: 700 28px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  h3 {
    font: 700 22px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }

  h4 {
    font: 700 18px/1.2 "Montserrat", sans-serif;
    margin-bottom: 30px;
  }



  p {
    font: 500 16px/24px "Montserrat", sans-serif;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}